* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="checkbox"][name="players"] {
    display: none;
}
body {
    background-color: #062945;
    color: white;
    display: flex;
    /* flex-direction: column; */
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    flex-direction: column;
    width: 40%;
    position: relative;
}

header > section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header > input {
    display: none;
}

header > input#is-rift:checked ~ section label[for="is-rift"], 
header > input#is-aram:checked ~ section label[for="is-aram"]{
    background-color: #11436d;
    border-radius: 15px;
    border: 1px solid #ccc;
}

header > input#is-aram:checked ~ div#roles > * {
    display: none;
}

.type-selector img {
    width: 100px;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adder {
    display: none;
}

.add-players {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: -45%;
    height: 65%;
    padding: 0px 10%;
    background-color: #032847;
    border: solid snow 1px;
    border-radius:10px;
}

input.adder:checked ~ .add-players {
    display: flex;
    z-index: 1;
}

input.adder:checked ~ #add-plus {
    display: none;
}

input.adder:checked ~ div #add-plus {
    display: none;
}

div#selected {
    height: 60%;
    position: relative;
}

div#selected > ul, div#to-select > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

div#selected > button {
    margin-top: auto;
    margin-bottom: 10px;
}

#add-plus {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 2em;
    margin-top: -10px;
}

div#roles {
    height: 25%;
}

div#team-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    flex-direction: column;
}

span {
    display: flex;
    align-items: center;
    padding: 15px;
}

span > p {
    margin: 0;
}

main > section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.team-bar {
    display: none;
    width: 80%;
    position: relative;
    background-color: #f04747!important;
}

.team-bar > i {
    position: absolute;
    top: 0;
}
#team-one-indicator {
    left: 0;
}
#team-two-indicator {
    right: 0;
}

#indicator {
    color: rgba(255, 255, 255, 0)!important;
    background-color: #263ee5!important;
    transition: all 0.5s ease 0s;
}

#button-div {
    margin-top: auto;
    margin-bottom: 15px;
}

.level-indicator {
    justify-content: center;
    width: 100%;
}


/* input[type="checkbox"]#playerOne:checked {} */